# Data Type Exercise

## String data type

In [1]:
str_x = "Hello, World!"
print(str_x)

Hello, World!

## Integer data type

In [3]:
int_x = int(20)
print(int_x)

20

## Float data type

In [4]:
float_x = 20.5
print(float_x)

20.5

## Boolean data type

In [6]:
bool_x = False
print(bool_x)

False

## Get quotient and remainder of 20 divided by 3.

In [10]:
quotient = 20 // 3
remainder = 20 % 3
division_x = 20/3
print ("Quotient is " ,quotient)
print ("Remainder is " ,remainder)
print(division_x)

Quotient is  6
Remainder is  2
6.666666666666667

## Difference between "3" and 3

In [14]:
a = int("3")
b = 3

1.0

## type() function to see what the variable is

In [17]:
a = "3"
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

## Math Commands

In [19]:
print(abs(-10))
print(max([1,2,3]))

round (number + 0.5)  # Round up
round (number -0.5)  # Round down

10
3

## How to use string

In [25]:
single_quote = 'Singlequote'
print(single_quote)

# The case of pringting double quoetation mark
mix_print = 'This is double quotation "abcde"'
print(mix_print)

Singlequote
This is double quotation "abcde"

### Multi-line string

In [27]:
multi_str = """
A is the 1st line
B is the 2nd line
C is the 3rd line
  D is the 4th line
    E is the 5th line

"""

print(multi_str)

A is the 1st line
B is the 2nd line
C is the 3rd line
  D is the 4th line
    E is the 5th line

## Print Letters

In [30]:
print(single_quote)
print(single_quote[2])  # Print the first letter

Singlequote
n

## Count letters in a string variable

In [32]:
print(single_quote)
len(single_quote)

Singlequote

11

## in : operator to Check word or letter in a string variable

In [35]:
print("Singles" in single_quote)  # Check if "Single" is in single_quote)

False

## Slicing string

In [42]:
ex_str = "0123456789"
print(ex_str[3:6])  # Print from 3rd to 5th letter
print(ex_str[:5])  # Print from the start to the 5th letter
print(ex_str[6:])  # Print from 6th letter to the end
print(ex_str[-3:-1])  # Print from the 3rd last letter to the 2nd last letter

345
01234
6789
78

## Modify string

In [57]:
a = " Hello, H World! "
print(a.upper())
print(a.lower())
print(a.strip())
print(a.replace("H","J"))  # Replace "H" with "J"

b="Hello,World"
print(b.split(","))  # Split the string by comma

a = "Hello"
b = "World"
c= a+b
print(c)  # Concatenate two strings

c= a+" "+b
print(c)

 HELLO, H WORLD!
 hello, h world!
Hello, H World!
 Jello, J World!
['Hello', 'World']
HelloWorld
Hello World

## String Formatting

In [61]:
age = 20
full_sen = "My age is " + str(age) + "."
print(full_sen)

My age is 20.

## Formatting with f-string

In [64]:
print(f"My age is {age}.")
print(f"My doubled is {age * 2}.")

My age is 20.
My doubled is 40.

## Hard Return or Carrage Return

In [65]:
print("Hello\nWorld")   # \n is a hard return

Hello
World

# Get the information using input() function

In [73]:
f_name=input("Enter your first name: ")  # This will prompt the user to enter their name
l_name=input("Enter your last name: ")  # This will prompt the user to enter their name
year = input("What year you are in")
full_name =f_name+" "+l_name+" in "+year
print(full_name.upper())

print(f"Add 1000 years to the year / ANS: {int(year)+1000}")

CH L IN 2025
Add 1000 years to the year / ANS: 3025

# Looping Syntax

In [77]:
#for x in range(1,5):
#    print(x)

for x in range(1,5):
    if x == 3:
        print(f"It is 3.")
    else:
        print(x)


#X_list = ["A","B","C","D"]

#for x in X_list:
#    print(x)

1
2
It is 3.
4

In [85]:
input_val=input("Show Factorial values: ")

for x in range(1,int(input_val)+1):
    if x == 1:
        prev_x = 1
    else:
        prev_x = prev_x * x

print(f"Factorial of {x} is {prev_x}.")

Factorial of 5 is 120.

In [86]:
input_val = input("Show Factorial values: ")
x = 1

# input_val = 5
while x <= int(input_val):
    if x == 1:
        prev_x = 1
    else:
        prev_x = prev_x * x
    x += 1  #Same as  x = x+1

print(f"Factorial of {x-1} is {prev_x}.")

Factorial of 5 is 120.

## How to use range() function

In [91]:
for x in range(5):
    print(x)

print()
for x in range(5,10):
    print(x)
print()
for x in range(1,20,3):
    print(x)

0
1
2
3
4

5
6
7
8
9

1
4
7
10
13
16
19

## How to express teenage years

In [ ]:
# Teenage years are from 13 to 19

year >= 13 and year <= 19  # 13,14,15,16,17,18,19
year >= 13 or year <= 19

# 1) True or True
13,14,15,16,17 ....
19, 18, 17,.... 1

# 2) Ture or False
13,14,15,16,17 ....
20, 21, 22, 23, 24,....

# 3) False or True
12,11,10,9,8,7,6,5,4,3,2,1
19, 18, 17,.... 1